.navbar{
    position: relative;
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--nba-blue);
    height: 50px;
}
.navbar img{
    height: 50px;
}
.leftSection,
.rightSection{
    display:flex;
}
.leftSection{
    gap: 1rem;
    align-items: center;
}
.themeButton{
    display:flex;
    gap:1rem;
    position:relative;
    cursor: pointer;
    text-align: center;
    transition: ease-in-out 0.3s;
    border:none;
    width: 50px;
    height: 25px;
    background: var(--bg-color-dark);
    border-radius: 1rem;
    font-size: 1rem;
    line-height: 25px;
}
.darkSide,
.lightSide{
    position:absolute;
    background: var(--bg-color-light);
    display:block;
    top:0;
    width:25px;
    height:25px;
    border-radius: 100px;
    transition: ease all .3s;
}
.darkSide{
    left: 0;
    right: auto;
}
.lightSide{
    left: auto;
    right: 0;
}
.on{
    color: #e8bc0d;
}
.off{
    color: #0404e8;
}
.toggleButton{
    display:none;
    color: #fff;
    background: none;
    border:none;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: ease .3s;
}
.toggleButton:hover{
    color: var(--nba-red);
}
.navActive{
    right: 0;
}
.nav{
    transition: ease-in-out .3s;
}
.nav ul{
    display:flex;
    gap: 1rem;
    list-style: none;
    color: #fff;
}
.nav ul li:hover{
    transition: ease .3s;
    color: var(--nba-red);

}
@media(max-width: 600px){
    .navbar{
        justify-content: space-between;
        padding: 0 .5rem;
    }
    .nav{
        position: absolute;
        top: 50px;
        width:100%;
        background-color: var(--nba-blue);
        z-index: 5;
    }
    .nav:not(.navActive){
        right: -100%;
    }
    .toggleButton{
        display:block;
    }
    .nav ul{
        flex-direction:column;
        align-items: center;
        padding:.75rem;
        font-weight: 500;
    }
}