.footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0.5rem;
    text-align: center;
    width: 100%;
    background-color: var(--bg-color-light);
    color: #aaa;
    font-weight: 200;
    height: 90px;
}
.footer p{
    margin: 0;
}
.footer p span{
    font-weight: 400;
}
.footer a img{
    height: 25px;
    width: auto;
    transition: ease .2s;
}
.footer a:hover{
    filter: contrast(1.9);
}