.gamesHeaderStyle{
    display:flex;
    overflow-x: scroll;
}
.cardGame{
    border: 1px solid var(--text-color);
    display:flex;
    flex-direction: column;
    gap: .25rem;
    border-collapse: collapse;
    height: 100%;
}
.teamAndScoreSection{
    display:flex;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--text-color);
    height: 80px;
}
.teamAndScoreSection div{
    padding: .25rem .5rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.teamAndScoreSection div picture{
    height: 25px;
}
.teamAndScoreSection div picture img{
    height: 25px;
    width: 30px;
    object-fit: contain;
}
.teamAndScoreSection div h3{
    margin: 0;
    font-size: 14px;
}
.teamAndScoreSection div span:first-of-type{
    font-weight: 200;
    font-size: 10px;
} 
.teamAndScoreSection div span:last-child{
    font-weight: 700;
    font-size: 12px;
} 
.quarterSection{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    padding: 0 .15rem;
    height: 45px;
}
.quarterSection span{
    display:block;
    font-size: 10px;
    text-align: center;
}
.quarterSection span:not(.quarterWinner, .quarterInfo span){
    font-weight: 400;
}
.quarterInfo span{
    font-weight: 700;
}
.quarterNumber{
    opacity: .5;
}
.quarterWinner{
    font-weight: 900;
}
.gameInfo{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 0 .25rem;
}
.gameInfo p{
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.gameInfo span:not(.gameNow){
    font-size: 10px;
    opacity: .8;
}
.gameNow{
    font-size: 10px;
    color: rgb(47, 199, 52);
    font-weight: 700;
}
