.teamsContainer{
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem .5rem;
}
.conferenceName{
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin: 0;
}
.conferenceContainer{
    display:flex;
    flex: 1;
    flex-direction: column;
    gap: .75rem;
}