.card{
    display:flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-opacity);
    background: radial-gradient(circle, var(--primary-opacity) 25%, var(--secondary-opacity) 100%);
    padding: 1rem;
    gap: 2rem;
}
.card >{
    max-width: 768px;
}
.card h3{
    margin: 0;
}
.logoAndNameSection{
    display:flex;
    align-items: center;
    gap: 1rem;
}
.card img{
    height: 100px;
    /* -webkit-filter: drop-shadow(1px 1px 0 var(--secondary-opacity))
                  drop-shadow(-1px -1px 0 var(--secondary-opacity));
    filter: drop-shadow(1px 1px 0 var(--secondary-opacity)) 
            drop-shadow(-1px -1px 0 var(--secondary-opacity)); */
}
.teamNameSection{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: .5rem;
}
.teamName{
    color: var(--primary);
    text-shadow: 1px 1px var(--secondary), -1px -1px var(--secondary), 1px -1px var(--secondary), -1px 1px var(--secondary);
    line-height: 1;
    font-size: 2.25rem;
    display:flex;
    flex-direction: column;
    margin:0;
}
.record{
    font-size: 1rem;
    font-weight: 700;
    opacity: .8;
    text-shadow: 2px 0 var(--bg-color-dark), -2px 0 var(--bg-color-dark), 0 2px var(--bg-color-dark), 0 -2px var(--bg-color-dark),
                 1px 1px var(--bg-color-dark), -1px -1px var(--bg-color-dark), 1px -1px var(--bg-color-dark), -1px 1px var(--bg-color-dark);
}
.teamName span{
    color: var(--secondary);
    text-shadow: 1px 1px var(--primary), -1px -1px var(--primary), 1px -1px var(--primary), -1px 1px var(--primary);
    font-size: 1.5rem;
    font-weight: 400;
}
.positionsSection{
    display:flex;
    justify-content: space-around;
    gap: 1rem;
}
.positionsSection h3{
    font-size: 1.5rem;
    font-weight: 300;
    display:flex;
    flex-direction: column;
    text-shadow: 1px 1px var(--bg-color-dark), -1px -1px var(--bg-color-dark), 1px -1px var(--bg-color-dark), -1px 1px var(--bg-color-dark);
}
.positionsSection h3 span{
    font-size: 1rem;
    font-weight: 700;
}
@media(max-width: 700px){
    .card{
        padding: .5rem .25rem;
        flex-direction: column;
        gap: .5rem;
    }
}
@media(max-width: 345px){
    .card img{
        height: 75px;
    }
    .teamName{
        font-size: 2rem;
    }
    .teamName span{
        font-size: 1.25rem;
    }
}